<div class="jumbotron mt-4">
    <h1 class="text-center mb-4">{{title}}</h1>
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><i style="color: #00b7ff;" class="fas fa-users bg-blue fa-3x"></i></h1>
            <p>Login or Create an account?</p>

            <a href="/users/login" style="background:#00b7ff; color:#fff;" class="btn  btn-block">Login</a>
            <a href="/users/signup" class="btn btn-secondary btn-block mb-2">Sign Up</a>

        </div>
    </div>
</div>